.Card {
  max-width: 250px;
  float:left;
  margin:5px
}

.Card-Image {
  justify-items:center;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
